.git
.gitignore
.dockerignore
**/node_modules
**/dist
backend/venv
**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
**/.pytest_cache
*.db
*.sqlite
*.sqlite3
.DS_Store
*.zip
docs/
*.log
